<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiefer">

    <uses-feature android:name="android.hardware.audio.output"/>

    <!-- optional permissions, see global.h when these are appropriate -->
    <!-- these are required when recording audio from the device input -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- VAD ÄR DEN HÄR FÖR?? -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- these are required to write recorded audio onto the device storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- KAN KANSKE TAS BORT??? -->

    <!-- these are required to warn about bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- vibration -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <activity android:name="com.kiefer.LLPPDRUMS"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name">

            <!--
            android:largeHeap="true"
            -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>